.issues__nav {
  display: flex;
}
.nav__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.nav__firstSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav__buttons {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
